body {
  background-color: hsla(211, 54%, 20%, 1);
  color: #fff;
  font-family: cursive;
}
h2 {
  color: hsla(0, 0%, 96%, 1);
  padding-left: 200px;
}
.co {
  display: flex;
  flex-direction: column;
}
.ro {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: small;
}
p {
  margin-bottom: -1em;
}
.bot {
  font-size: 0.7em;
  color: hsla(0, 0%, 96%, 1);
  width: 120px;
  padding-bottom: 50px;
  margin-right: 10px;
}
.box {
  border: 1px solid black;
  border-radius: 8px;
  padding-block: 2em 1em;
  margin-right: 30px;
}
div {
  padding: 0.5em, 0.5em;
  margin: -0.3em -0.1em;
}
span {
  display: inline-block;
  margin: auto;
  padding: 1em;
}
section {
  display: flex;
  flex-direction: column;
  margin-left: -1em;
}
.col {
  padding-bottom: 4em;
  color: azure;
  width: 100px;
}

/**** Slate*****/

.slate-50 {
  background-color: hsla(210, 40%, 98%, 1);
}
.slate-100 {
  background-color: hsla(210, 40%, 96%, 1);
}
.slate-200 {
  background-color: hsla(214, 30%, 91%, 1);
}
.slate-300 {
  background-color: hsla(213, 27%, 84%, 1);
}
.slate-400 {
  background-color: hsla(215, 20%, 65%, 1);
}
.slate-500 {
  background-color: hsla(215, 16%, 47%, 1);
}
.slate-600 {
  background-color: hsla(215, 19%, 35%, 1);
}
.slate-700 {
  background-color: hsla(215, 25%, 27%, 1);
}
.slate-800 {
  background-color: hsla(217, 33%, 17%, 1);
}
.slate-900 {
  background-color: hsla(222, 46%, 11%, 1);
}

/***GRAY***/

.gray-50 {
  background-color: hsla(210, 20%, 98%, 1);
}
.gray-100 {
  background-color: hsla(220, 14%, 96%, 1);
}
.gray-200 {
  background-color: hsla(220, 13%, 91%, 1);
}
.gray-300 {
  background-color: hsla(216, 12%, 84%, 1);
}
.gray-400 {
  background-color: hsla(219, 11%, 65%, 1);
}
.gray-500 {
  background-color: hsla(220, 9%, 46%, 1);
}
.gray-600 {
  background-color: hsla(215, 14%, 34%, 1);
}
.gray-700 {
  background-color: hsla(217, 19%, 27%, 1);
}
.gray-800 {
  background-color: hsla(215, 28%, 17%, 1);
}
.gray-900 {
  background-color: hsla(198, 22%, 9%, 1);
}

/*** ZINC ***/

.zinc-50 {
  background-color: hsla(0, 0%, 98%, 1);
}
.zinc-100 {
  background-color: hsla(240, 5%, 96%, 1);
}
.zinc-200 {
  background-color: hsla(240, 6%, 90%, 1);
}
.zinc-300 {
  background-color: hsla(240, 5%, 84%, 1);
}
.zinc-400 {
  background-color: hsla(240, 5%, 65%, 1);
}
.zinc-500 {
  background-color: hsla(240, 4%, 46%, 1);
}
.zinc-600 {
  background-color: hsla(240, 5%, 34%, 1);
}
.zinc-700 {
  background-color: hsla(240, 5%, 26%, 1);
}
.zinc-800 {
  background-color: hsla(240, 4%, 16%, 1);
}
.zinc-900 {
  background-color: hsla(240, 6%, 10%, 1);
}

/*** NEUTRAL ***/

.neutral-50 {
  background-color: hsla(0, 0%, 98%, 1);
}
.neutral-100 {
  background-color: hsla(0, 0%, 96%, 1);
}
.neutral-200 {
  background-color: hsla(0, 0%, 90%, 1);
}
.neutral-300 {
  background-color: hsla(0, 0%, 83%, 1);
}
.neutral-400 {
  background-color: hsla(0, 0%, 64%, 1);
}
.neutral-500 {
  background-color: hsla(0, 0%, 45%, 1);
}
.neutral-600 {
  background-color: hsla(0, 0%, 32%, 1);
}
.neutral-700 {
  background-color: hsla(0, 0%, 25%, 1);
}
.neutral-800 {
  background-color: hsla(0, 0%, 15%, 1);
}
.neutral-900 {
  background-color: hsla(0, 0%, 9%, 1);
}

/*** STONE ***/

.stone-50 {
  background-color: hsla(60, 9%, 98%, 1);
}
.stone-100 {
  background-color: hsla(60, 5%, 96%, 1);
}
.stone-200 {
  background-color: hsla(20, 6%, 90%, 1);
}
.stone-300 {
  background-color: hsla(24, 6%, 83%, 1);
}
.stone-400 {
  background-color: hsla(24, 5%, 64%, 1);
}
.stone-500 {
  background-color: hsla(25, 5%, 45%, 1);
}
.stone-600 {
  background-color: hsla(33, 5%, 32%, 1);
}
.stone-700 {
  background-color: hsla(30, 6%, 25%, 1);
}
.stone-800 {
  background-color: hsla(12, 6%, 15%, 1);
}
.stone-900 {
  background-color: hsla(24, 10%, 10%, 1);
}

/*** RED ***/

.red-50 {
  background-color: hsla(0, 86%, 97%, 1);
}
.red-100 {
  background-color: hsla(0, 93%, 94%, 1);
}
.red-200 {
  background-color: hsla(0, 96%, 89%, 1);
}
.red-300 {
  background-color: hsla(0, 94%, 82%, 1);
}
.red-400 {
  background-color: hsla(0, 91%, 71%, 1);
}
.red-500 {
  background-color: hsla(0, 84%, 60%, 1);
}
.red-600 {
  background-color: hsla(0, 72%, 51%, 1);
}
.red-700 {
  background-color: hsla(0, 74%, 42%, 1);
}
.red-800 {
  background-color: hsla(0, 70%, 35%, 1);
}
.red-900 {
  background-color: hsla(0, 63%, 31%, 1);
}

/*** ORANGE ***/

.orange-50 {
  background-color: hsla(33, 100%, 96%, 1);
}
.orange-100 {
  background-color: hsla(34, 100%, 92%, 1);
}
.orange-200 {
  background-color: hsla(32, 98%, 83%, 1);
}
.orange-300 {
  background-color: hsla(31, 97%, 72%, 1);
}
.orange-400 {
  background-color: hsla(27, 96%, 61%, 1);
}
.orange-500 {
  background-color: hsla(25, 95%, 53%, 1);
}
.orange-600 {
  background-color: hsla(21, 90%, 48%, 1);
}
.orange-700 {
  background-color: hsla(17, 88%, 40%, 1);
}
.orange-800 {
  background-color: hsla(15, 79%, 34%, 1);
}
.orange-900 {
  background-color: hsla(15, 75%, 28%, 1);
}

/*** AMBER ***/

.amber-50 {
  background-color: hsla(48, 100%, 96%, 1);
}
.amber-100 {
  background-color: hsla(48, 96%, 89%, 1);
}
.amber-200 {
  background-color: hsla(48, 97%, 77%, 1);
}
.amber-300 {
  background-color: hsla(46, 97%, 65%, 1);
}
.amber-400 {
  background-color: hsla(43, 96%, 56%, 1);
}
.amber-500 {
  background-color: hsla(38, 92%, 50%, 1);
}
.amber-600 {
  background-color: hsla(32, 95%, 44%, 1);
}
.amber-700 {
  background-color: hsla(26, 90%, 37%, 1);
}
.amber-800 {
  background-color: hsla(23, 83%, 31%, 1);
}
.amber-900 {
  background-color: hsla(22, 78%, 26%, 1);
}

/***Yellow***/

.yellow-50 {
  background-color: hsla(55, 92%, 95%, 1);
}
.yellow-100 {
  background-color: hsla(55, 97%, 88%, 1);
}
.yellow-200 {
  background-color: hsla(53, 98%, 77%, 1);
}
.yellow-300 {
  background-color: hsla(50, 98%, 64%, 1);
}
.yellow-400 {
  background-color: hsla(48, 96%, 53%, 1);
}
.yellow-500 {
  background-color: hsla(45, 93%, 48%, 1);
}
.yellow-600 {
  background-color: hsla(41, 96%, 40%, 1);
}
.yellow-700 {
  background-color: hsla(35, 92%, 33%, 1);
}
.yellow-800 {
  background-color: hsla(32, 81%, 29%, 1);
}
.yellow-900 {
  background-color: hsla(28, 73%, 26%, 1);
}

/***Lime***/

.lime-50 {
  background-color: hsla(78, 92%, 95%, 1);
}
.lime-100 {
  background-color: hsla(80, 89%, 89%, 1);
}
.lime-200 {
  background-color: hsla(81, 88%, 80%, 1);
}
.lime-300 {
  background-color: hsla(82, 85%, 67%, 1);
}
.lime-400 {
  background-color: hsla(83, 78%, 55%, 1);
}
.lime-500 {
  background-color: hsla(84, 81%, 44%, 1);
}
.lime-600 {
  background-color: hsla(85, 85%, 35%, 1);
}
.lime-700 {
  background-color: hsla(86, 78%, 27%, 1);
}
.lime-800 {
  background-color: hsla(86, 69%, 23%, 1);
}
.lime-900 {
  background-color: hsla(88, 61%, 20%, 1);
}

/***Green***/

.green-50 {
  background-color: hsla(138, 76%, 97%, 1);
}
.green-100 {
  background-color: hsla(141, 84%, 93%, 1);
}
.green-200 {
  background-color: hsla(141, 79%, 85%, 1);
}
.green-300 {
  background-color: hsla(142, 77%, 73%, 1);
}
.green-400 {
  background-color: hsla(142, 69%, 58%, 1);
}
.green-500 {
  background-color: hsla(142, 71%, 45%, 1);
}
.green-600 {
  background-color: hsla(142, 76%, 36%, 1);
}
.green-700 {
  background-color: hsla(142, 72%, 29%, 1);
}
.green-800 {
  background-color: hsla(143, 64%, 24%, 1);
}
.green-900 {
  background-color: hsla(144, 61%, 20%, 1);
}

/***Emerald***/

.emerald-50 {
  background-color: hsla(152, 81%, 96%, 1);
}
.emerald-100 {
  background-color: hsla(149, 80%, 90%, 1);
}
.emerald-200 {
  background-color: hsla(152, 76%, 80%, 1);
}
.emerald-300 {
  background-color: hsla(156, 72%, 67%, 1);
}
.emerald-400 {
  background-color: hsla(158, 64%, 52%, 1);
}
.emerald-500 {
  background-color: hsla(160, 84%, 39%, 1);
}
.emerald-600 {
  background-color: hsla(161, 94%, 30%, 1);
}
.emerald-700 {
  background-color: hsla(163, 94%, 24%, 1);
}
.emerald-800 {
  background-color: hsla(163, 88%, 20%, 1);
}
.emerald-900 {
  background-color: hsla(164, 86%, 16%, 1);
}

/***Teal***/

.teal-50 {
  background-color: hsla(166, 76%, 97%, 1);
}
.teal-100 {
  background-color: hsla(167, 85%, 89%, 1);
}
.teal-200 {
  background-color: hsla(168, 84%, 78%, 1);
}
.teal-300 {
  background-color: hsla(171, 77%, 64%, 1);
}
.teal-400 {
  background-color: hsla(172, 66%, 50%, 1);
}
.teal-500 {
  background-color: hsla(173, 80%, 40%, 1);
}
.teal-600 {
  background-color: hsla(175, 84%, 32%, 1);
}
.teal-700 {
  background-color: hsla(175, 77%, 26%, 1);
}
.teal-800 {
  background-color: hsla(176, 69%, 22%, 1);
}
.teal-900 {
  background-color: hsla(176, 63%, 19%, 1);
}

/***Cyan***/

.cyan-50 {
  background-color: hsla(183, 100%, 96%, 1);
}
.cyan-100 {
  background-color: hsla(185, 96%, 90%, 1);
}
.cyan-200 {
  background-color: hsla(186, 94%, 82%, 1);
}
.cyan-300 {
  background-color: hsla(187, 92%, 69%, 1);
}
.cyan-400 {
  background-color: hsla(188, 86%, 53%, 1);
}
.cyan-500 {
  background-color: hsla(189, 94%, 43%, 1);
}
.cyan-600 {
  background-color: hsla(192, 91%, 36%, 1);
}
.cyan-700 {
  background-color: hsla(193, 82%, 31%, 1);
}
.cyan-800 {
  background-color: hsla(194, 70%, 27%, 1);
}
.cyan-900 {
  background-color: hsla(196, 64%, 24%, 1);
}

/**Sky***/

.sky-50 {
  background-color: hsla(204, 100%, 97%, 1);
}
.sky-100 {
  background-color: hsla(204, 94%, 94%, 1);
}
.sky-200 {
  background-color: hsla(201, 94%, 86%, 1);
}
.sky-300 {
  background-color: hsla(199, 95%, 74%, 1);
}
.sky-400 {
  background-color: hsla(198, 93%, 60%, 1);
}
.sky-500 {
  background-color: hsla(199, 89%, 48%, 1);
}
.sky-600 {
  background-color: hsla(200, 98%, 39%, 1);
}
.sky-700 {
  background-color: hsla(201, 96%, 32%, 1);
}
.sky-800 {
  background-color: hsla(201, 90%, 27%, 1);
}
.sky-900 {
  background-color: hsla(202, 80%, 24%, 1);
}

/**Blue***/

.blue-50 {
  background-color: hsla(214, 100%, 97%, 1);
}
.blue-100 {
  background-color: hsla(214, 95%, 93%, 1);
}
.blue-200 {
  background-color: hsla(213, 97%, 87%, 1);
}
.blue-300 {
  background-color: hsla(212, 96%, 78%, 1);
}
.blue-400 {
  background-color: hsla(213, 94%, 68%, 1);
}
.blue-500 {
  background-color: hsla(217, 91%, 60%, 1);
}
.blue-600 {
  background-color: hsla(221, 83%, 53%, 1);
}
.blue-700 {
  background-color: hsla(224, 76%, 48%, 1);
}
.blue-800 {
  background-color: hsla(226, 71%, 40%, 1);
}
.blue-900 {
  background-color: hsla(224, 64%, 33%, 1);
}

/**Indigo***/

.indigo-50 {
  background-color: hsla(226, 100%, 97%, 1);
}
.indigo-100 {
  background-color: hsla(226, 100%, 94%, 1);
}
.indigo-200 {
  background-color: hsla(228, 96%, 89%, 1);
}
.indigo-300 {
  background-color: hsla(230, 94%, 82%, 1);
}
.indigo-400 {
  background-color: hsla(234, 89%, 74%, 1);
}
.indigo-500 {
  background-color: hsla(239, 84%, 67%, 1);
}
.indigo-600 {
  background-color: hsla(243, 75%, 59%, 1);
}
.indigo-700 {
  background-color: hsla(245, 58%, 51%, 1);
}
.indigo-800 {
  background-color: hsla(244, 55%, 41%, 1);
}
.indigo-900 {
  background-color: hsla(242, 47%, 34%, 1);
}

/**Violet***/

.violet-50 {
  background-color: hsla(250, 100%, 98%, 1);
}
.violet-100 {
  background-color: hsla(251, 91%, 95%, 1);
}
.violet-200 {
  background-color: hsla(251, 95%, 92%, 1);
}
.violet-300 {
  background-color: hsla(252, 95%, 85%, 1);
}
.violet-400 {
  background-color: hsla(255, 92%, 76%, 1);
}
.violet-500 {
  background-color: hsla(258, 90%, 66%, 1);
}
.violet-600 {
  background-color: hsla(262, 83%, 58%, 1);
}
.violet-700 {
  background-color: hsla(263, 70%, 50%, 1);
}
.violet-800 {
  background-color: hsla(263, 69%, 42%, 1);
}
.violet-900 {
  background-color: hsla(264, 67%, 35%, 1);
}

/**Purple***/

.purple-50 {
  background-color: hsla(270, 100%, 98%, 1);
}
.purple-100 {
  background-color: hsla(269, 100%, 95%, 1);
}
.purple-200 {
  background-color: hsla(269, 100%, 92%, 1);
}
.purple-300 {
  background-color: hsla(269, 97%, 85%, 1);
}
.purple-400 {
  background-color: hsla(270, 95%, 75%, 1);
}
.purple-500 {
  background-color: hsla(271, 91%, 65%, 1);
}
.purple-600 {
  background-color: hsla(271, 81%, 56%, 1);
}
.purple-700 {
  background-color: hsla(272, 72%, 47%, 1);
}
.purple-800 {
  background-color: hsla(273, 67%, 39%, 1);
}
.purple-900 {
  background-color: hsla(274, 66%, 32%, 1);
}

/**Fuchsia**/

.fuchsia-50 {
  background-color: hsla(289, 100%, 98%, 1);
}
.fuchsia-100 {
  background-color: hsla(287, 100%, 95%, 1);
}
.fuchsia-200 {
  background-color: hsla(288, 96%, 91%, 1);
}
.fuchsia-300 {
  background-color: hsla(291, 93%, 83%, 1);
}
.fuchsia-400 {
  background-color: hsla(292, 91%, 73%, 1);
}
.fuchsia-500 {
  background-color: hsla(292, 84%, 61%, 1);
}
.fuchsia-600 {
  background-color: hsla(293, 69%, 49%, 1);
}
.fuchsia-700 {
  background-color: hsla(295, 72%, 40%, 1);
}
.fuchsia-800 {
  background-color: hsla(295, 70%, 33%, 1);
}
.fuchsia-900 {
  background-color: hsla(297, 64%, 28%, 1);
}

/**Pink***/

.pink-50 {
  background-color: hsla(327, 73%, 97%, 1);
}
.pink-100 {
  background-color: hsla(326, 78%, 95%, 1);
}
.pink-200 {
  background-color: hsla(326, 85%, 90%, 1);
}
.pink-300 {
  background-color: hsla(327, 87%, 82%, 1);
}
.pink-400 {
  background-color: hsla(329, 86%, 70%, 1);
}
.pink-500 {
  background-color: hsla(330, 81%, 60%, 1);
}
.pink-600 {
  background-color: hsla(333, 71%, 51%, 1);
}
.pink-700 {
  background-color: hsla(335, 78%, 42%, 1);
}
.pink-800 {
  background-color: hsla(336, 74%, 35%, 1);
}
.pink-900 {
  background-color: hsla(336, 69%, 30%, 1);
}

/***Rose***/

.rose-50 {
  background-color: hsla(356, 100%, 97%, 1);
}
.rose-100 {
  background-color: hsla(356, 100%, 95%, 1);
}
.rose-200 {
  background-color: hsla(353, 96%, 90%, 1);
}
.rose-300 {
  background-color: hsla(353, 96%, 82%, 1);
}
.rose-400 {
  background-color: hsla(351, 95%, 71%, 1);
}
.rose-500 {
  background-color: hsla(350, 89%, 60%, 1);
}
.rose-600 {
  background-color: hsla(347, 77%, 50%, 1);
}
.rose-700 {
  background-color: hsla(345, 83%, 41%, 1);
}
.rose-800 {
  background-color: hsla(343, 80%, 35%, 1);
}
.rose-900 {
  background-color: hsla(342, 75%, 30%, 1);
}
