*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }
  .content{
    height: 90vh;
    width: 150vh;
    position: relative;
  }
  .content .images{
    height: 100%;
    width: 100%;
  }
  .content .images img{
    height: 100%;
    width: 100%;
  }
  .btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .btm-slides span{
    height: 5px;
    width: 50px;
    border: 2px solid white;
    background-color: aliceblue;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 20%;
  }
  .sliders{
    position: absolute;
    top: 50%;
    width: 45px;
    cursor: pointer;
    /* background: rgba(255,255,255,0.1); */
    background-color: black;
  }
  .sliders:hover{
    background-color: greenyellow;
  }
  .right{
    right: 0;
  }
  .sliders span{
    line-height: 41px;
    font-size: 35px;
    color: white;
  }